.home-bg-container-dark {
    display: flex;
    flex-direction: column;
    background-color: #150b3e;
    color: white;
    
}

.home-div-dark {
    display: flex;
    flex-direction: row;
}

.home-div-2-dark {
    display: flex;
    flex-direction: column;
}

.home-div-2-light {
    display: flex;
    flex-direction: column;
}

.home-bg-container-light {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 244, 248);
    color: rgb(46, 16, 137);
}

.home-div-light {
    display: flex;
    flex-direction: row;
}